<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thomas James Libiano Francis</title>
    <link href="/assets/main.css" rel="stylesheet" />
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <button
      class="border border-red-100 text-lg text-blue-500"
      hx-target="this"
      hx-get="http://localhost:3000/click"
      hx-swap="innerHTML"
    >
      click me
    </button>
  </body>
</html>
