{% extends "layouts/base.html" %}
<!-- prettier-ignore -->
{% block title %}Portfolio - Thomas Francis{% endblock %}
<!-- prettier-ignore -->
{% block content %}

<body class="h-screen min-h-[600px] overflow-hidden">
  <div
    class="h-screen min-h-[600px] overflow-y-scroll md:snap-y md:snap-mandatory"
  >
    <!-- prettier-ignore -->
    {% include "components/portfolio/title.html" %}
    <!-- prettier-ignore -->
    {% for page in pages %}
    <!-- prettier-ignore -->
    {{ page|safe }}
    <!-- prettier-ignore -->
    {% endfor %}
  </div>
</body>
{% endblock %}
