<div
  class="relative grid h-screen min-h-[600px] snap-start place-content-center gap-4"
>
  <a
    href="https://github.com/tieje/resume/blob/main/FrancisT_resume.pdf"
    target="_blank"
    class="text-center text-6xl md:text-left"
  >
    <h1>Thomas Francis</h1>
  </a>
  <h2 class="portfolio-word text-center text-4xl md:text-left"></h2>
  <a
    href="https://www.credly.com/badges/a74d35dd-36ff-4272-9d72-b1cf6a6360f5/public_url"
    target="_blank"
    class="absolute bottom-5 right-0 w-full md:bottom-10 md:right-10 md:w-fit"
  >
    <img
      src="/assets/aws-badge.png"
      class="mx-auto md:mx-0"
      height="200"
      width="200"
    />
  </a>
</div>
